# Explore BL Sessions Data

Here we introduce some useful DataJoint tools to explore the bl19 pipeline

First thing first, import datajoint

In [1]:
from scripts.conf_file_finding import try_find_conf_file
try_find_conf_file()

Local configuration file found !!, no need to run the configuration (unless configuration has changed)

In [2]:
import datajoint as dj
import pandas as pd
import scripts.session_agg_functions as saf

In [3]:
dj.conn(host='bdata00.pni.princeton.edu',reset=True)

Connecting alvaros@bdata00.pni.princeton.edu:3306

DataJoint connection (connected) alvaros@bdata00.pni.princeton.edu:3306

In [4]:
subjects=['C245']
df_agg_subjects = saf.get_all_session_aggregate(subjects = subjects)

In [5]:
df_agg_subjects

,ratname,sessiondate,num_sessions,n_done_trials,hostname,starttime,endtime,total_correct,percent_violations,right_correct,left_correct,foodpuck,mass,tech,percent_target,volume,num_water,totalvol,num_rigwater
0,C245,2023-07-29,1,34,Rig10,03:39:53,05:46:47,0.250000,0.00,0.200000,0.330000,1.0,266.0,JM,0.0,0.000,1,0.048,1
1,C245,2023-07-30,1,76,Rig10,03:29:56,05:51:28,0.500000,0.05,0.500000,0.500000,1.0,245.0,JM,0.0,0.000,1,0.048,1
2,C245,2023-07-31,1,255,Rig10,02:33:14,05:21:05,0.640000,0.42,0.680000,0.610000,1.0,243.0,JM,0.0,0.000,1,3.552,1
3,C245,2023-08-01,1,354,Rig10,02:43:32,05:25:54,0.720000,0.60,0.700000,0.750000,1.0,243.0,JM,0.0,0.000,1,6.024,1
4,C245,2023-08-02,1,334,Rig10,02:33:56,05:08:55,0.750000,0.43,0.700000,0.810000,1.0,245.0,JM,0.0,0.000,1,5.832,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,C245,2024-06-29,1,840,Rig13,16:42:22,18:30:37,0.880000,0.99,0.800000,0.950000,1.0,246.0,AB,20.0,12.024,1,0.000,1
268,C245,2024-06-30,1,1085,Rig13,16:13:15,18:30:34,0.900000,0.99,0.820000,0.970000,1.0,244.0,AB,20.0,10.188,1,0.000,1
269,C245,2024-07-01,1,1124,Rig13,16:05:12,18:27:23,0.910000,0.99,0.840000,0.980000,1.0,239.0,ER,20.0,11.772,1,0.000,1
270,C245,2024-07-02,1,1032,Rig13,16:29:20,18:45:09,0.920000,0.99,0.840000,0.990000,1.0,245.0,KO,20.0,10.080,1,0.000,1
271,C245,2024-07-08,2,1153,Rig13,15:56:38,18:36:12,0.885976,0.99,0.773955,0.987997,1.0,257.0,ER,0.0,0.000,1,NaN,<NA>

In [6]:
df_agg_subjects.loc[0,'starttime']

datetime.time(3, 39, 53)

In [7]:
df_agg_subjects.dtypes

ratname                       object
sessiondate           datetime64[ns]
num_sessions                   Int64
n_done_trials                  Int64
hostname                      object
starttime                     object
endtime                       object
total_correct                float64
percent_violations           float64
right_correct                float64
left_correct                 float64
foodpuck                     float64
mass                         float64
tech                          object
percent_target               float64
volume                       float64
num_water                      Int64
totalvol                     float64
num_rigwater                   Int64
dtype: object

In [8]:
df_agg_last_month_all = saf.get_all_session_aggregate(subjects=None)

In [9]:
df_agg_last_month_all

,ratname,sessiondate,num_sessions,n_done_trials,hostname,starttime,endtime,total_correct,percent_violations,right_correct,left_correct,foodpuck,mass,tech,percent_target,volume,num_water,totalvol,num_rigwater
0,C198,2024-06-09,1,572,Rig18,08:02:18,11:00:51,0.85,0.10,0.90,0.82,1.0,480.0,JM,20.0,14.508,2,15.552,1
1,C199,2024-06-09,1,193,Rig02,06:41:35,07:56:20,0.59,0.22,0.65,0.54,1.0,519.0,JM,20.0,16.272,2,2.640,2
2,C200,2024-06-09,1,0,Rig02,16:11:29,18:30:36,NaN,NaN,NaN,NaN,1.0,459.0,AB,20.0,23.256,1,0.000,1
3,C201,2024-06-09,1,388,Rig19,16:11:46,18:31:05,0.77,0.31,0.75,0.80,1.0,518.0,AB,20.0,13.752,1,9.435,1
4,C203,2024-06-09,1,0,Rig20,03:34:11,03:35:11,NaN,NaN,NaN,NaN,1.0,526.0,JM,0.0,0.000,1,NaN,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2007,Y013,2024-07-08,1,29,Rig07,11:14:48,13:25:44,0.72,0.38,0.82,0.57,1.0,497.0,ER,0.0,0.000,2,NaN,0
2008,Y014,2024-07-08,1,55,Rig26,11:14:55,13:25:19,0.68,0.55,0.50,0.74,1.0,424.0,ER,0.0,0.000,2,NaN,0
2009,Y015,2024-07-08,1,452,Rig01,11:16:45,13:24:03,0.76,0.45,0.83,0.71,1.0,469.0,ER,0.0,0.000,2,NaN,0
2010,Y016,2024-07-08,1,47,Rig29,11:16:40,13:24:31,0.61,0.40,0.70,0.56,1.0,540.0,ER,0.0,0.000,2,NaN,0
2011,ratname,2024-07-08,1,4,Rig500,17:13:39,17:15:47,0.99,0.00,0.99,0.99,0.0,NaN,nan,NaN,NaN,0,NaN,0