# Explore BL Sessions Data

Here we introduce some useful DataJoint tools to explore the bl19 pipeline

First thing first, import datajoint

In [1]:
from scripts.conf_file_finding import try_find_conf_file
try_find_conf_file()

Local configuration file found !!, no need to run the configuration (unless configuration has changed)

In [2]:
import datajoint as dj
import scripts.session_agg_functions as saf

In [3]:
dj.conn(host='bdata00.pni.princeton.edu',reset=True)

Connecting alvaros@bdata00.pni.princeton.edu:3306

DataJoint connection (connected) alvaros@bdata00.pni.princeton.edu:3306

In [9]:
subjects=['R513', 'R010', 'R021']

In [10]:
df_agg_subjects = saf.get_all_session_aggregate(subjects = subjects)

In [11]:
df_agg_subjects

,ratname,sessiondate,num_sessions,n_done_trials,hostname,starttime,endtime,total_correct,percent_violations,right_correct,left_correct,mass,tech,percent_target,volume,num_water,totalvol,num_rigwater
0,R010,2023-08-13,1,120,Rig18,11:40:01,13:41:09,0.99,0.85,0.00,0.99,332.00,AB,0.000,0.000,1.0,1.69950,1
1,R010,2023-08-14,1,179,Rig18,10:59:57,13:30:44,0.94,0.31,0.99,0.93,312.00,JL,0.000,0.000,1.0,7.56250,1
2,R010,2023-08-15,1,194,Rig18,11:33:36,13:50:53,0.79,0.11,0.71,0.87,305.00,KO,0.000,0.000,1.0,8.62400,1
3,R010,2023-08-16,1,220,Rig18,11:22:21,13:36:01,0.73,0.14,0.81,0.61,307.00,ER,0.000,0.000,1.0,7.59000,1
4,R010,2023-08-17,1,236,Rig18,11:21:25,13:43:05,0.76,0.16,0.87,0.66,309.00,KO,0.000,0.000,1.0,8.36000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,R021,2023-10-15,1,111,Rig09,05:53:41,07:43:29,0.74,0.18,0.73,0.80,279.00,JM,0.000,0.000,1.0,5.71200,1
140,R513,2023-10-15,1,46,Rig403,12:27:13,13:35:12,0.27,0.20,0.99,0.21,23.40,ER,4.000,0.948,1.0,0.15000,1
141,R010,2023-10-16,1,243,Rig18,11:19:58,13:36:55,0.83,0.06,0.78,0.91,373.00,ER,0.000,0.000,1.0,8.68050,1
142,R021,2023-10-16,1,93,Rig09,05:06:02,06:37:53,0.91,0.30,0.00,0.91,280.00,JM,0.000,0.000,1.0,4.22400,1
143,R513,2023-10-16,1,44,Rig403,12:51:59,13:54:12,0.17,0.20,0.99,0.03,23.77,ER,4.000,1.008,1.0,0.09000,1

In [7]:
df_agg_last_month_all = saf.get_all_session_aggregate(subjects=None)

In [8]:
df_agg_last_month_all

,ratname,sessiondate,num_sessions,n_done_trials,hostname,starttime,endtime,total_correct,percent_violations,right_correct,left_correct,mass,tech,percent_target,volume,num_water,totalvol,num_rigwater
0,A327,2023-09-17,1,764,Rig205,11:56:32,15:51:58,0.56,0.15,0.61,0.75,513.00,AB,0.000,0.000,1.0,20.20000,1.0
1,A327,2023-09-18,1,879,Rig205,14:26:20,19:24:03,0.54,0.15,0.71,0.57,None,None,0.000,0.000,1.0,20.44000,1.0
2,A327,2023-09-19,1,881,Rig205,14:39:00,19:32:54,0.60,0.14,0.84,0.52,501.00,KO,0.000,0.000,1.0,22.36000,1.0
3,A327,2023-09-20,1,795,Rig205,15:29:55,18:47:48,0.62,0.13,0.68,0.63,496.00,KO,0.000,0.000,1.0,21.04000,1.0
4,A327,2023-09-21,1,648,Rig205,13:12:22,17:34:27,0.60,0.10,0.88,0.56,499.00,KO,0.000,0.000,1.0,19.72000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3034,Y610,2023-10-16,1,256,Rig401,11:21:43,12:28:36,0.85,0.26,0.90,0.81,20.68,ER,4.000,0.000,1.0,1.44900,1.0
3035,Y611,2023-10-16,1,228,Rig402,11:21:08,12:28:39,0.53,0.32,0.58,0.43,18.91,ER,4.000,0.105,1.0,0.66900,1.0
3036,Y613,2023-10-16,1,305,Rig405,11:21:04,12:28:37,0.70,0.35,0.63,0.80,20.58,ER,4.000,0.000,1.0,1.13700,1.0
3037,Y614,2023-10-16,1,278,Rig406,11:21:05,12:28:36,0.76,0.37,0.91,0.70,19.02,ER,4.000,0.000,1.0,1.05900,1.0
3038,Y622,2023-10-16,1,135,Rig404,11:21:07,12:28:37,0.78,0.64,0.69,0.90,17.12,ER,4.000,0.396,1.0,0.28800,1.0